{% comment %} Author Profile Include Place this in _includes/author-profile.html {% endcomment %} {% if page.author and site.data.authors[page.author] %} {% assign author = site.data.authors[page.author] %} {% else %} {% assign author = site.author %} {% endif %}
{% if author.avatar contains "://" %} {{ author.name }} {% else %} {{ author.name }} {% endif %}
{% if author.position %}

{{ author.position }}
{% endif %} {% if author.bio %}

{{ author.bio }}
{% endif %} {% if author.expertise %}
Expertise

    {% for item in author.expertise %}
    {{ item }}
    {% endfor %} 

{% endif %}

    {% if author.location %}
    {{ author.location }}
    {% endif %} {% if author.employer %}
    {{ author.employer }}
    {% endif %} {% if author.uri %}
    Website
    {% endif %} {% if author.email %}
    Email
    {% endif %} {% if author.orcid %}
    ORCID
    {% endif %} {% if author.googlescholar %}
    Google Scholar
    {% endif %} {% if author.pubmed %}
    PubMed
    {% endif %} {% if author.researchgate %}
    ResearchGate
    {% endif %} {% if author.scopus %}
    Scopus
    {% endif %} {% if author.semantic %}
    Semantic Scholar
    {% endif %} {% if author.SciProfiles %}
    SciProfiles
    {% endif %} {% if author.loop %}
    Loop
    {% endif %} {% if author.openalex %}
    OpenAlex
    {% endif %} {% if author.zenodo %}
    Zenodo
    {% endif %} {% if author.impactstory %}
    ImpactStory
    {% endif %} {% if author.academia %}
    Academia.edu
    {% endif %} {% if author.arxiv %}
    arXiv
    {% endif %} {% if author.ssrn %}
    SSRN
    {% endif %} {% if author.zotero %}
    Zotero
    {% endif %} {% if author.inspire-hep %}
    InspireHEP
    {% endif %} {% if author.github %}
    GitHub
    {% endif %} {% if author.bitbucket %}
    Bitbucket
    {% endif %} {% if author.stackoverflow %}
    Stack Overflow
    {% endif %} {% if author.kaggle %}
    Kaggle
    {% endif %} {% if author.linkedin %}
    LinkedIn
    {% endif %} {% if author.twitter %}
    Twitter / X
    {% endif %} {% if author.bluesky %}
    Bluesky
    {% endif %} {% if author.mastodon %}
    Mastodon
    {% endif %} {% if author.instagram %}
    Instagram
    {% endif %} {% if author.facebook %}
    Facebook
    {% endif %} {% if author.youtube %}
    YouTube
    {% endif %} {% if author.medium %}
    Medium
    {% endif %} 

