---
layout: compress
---
{% include base_path %}
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% assign is_event = false %}
    {% if page.collection == "teaching" or page.collection == "talks" %}
      {% assign is_event = true %}
    {% endif %}
    {% if page.title and is_event %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "EducationEvent",
      "name": {{ page.title | jsonify }},
      "description": {{ page.excerpt | default: site.description | strip_html | strip_newlines | jsonify }},
      {% if page.date %}"startDate": {{ page.date | date_to_xmlschema | jsonify }},{% endif %}
      "location": {
        "@type": "Place",
        "name": {{ page.venue | default: "Academic Seminar" | jsonify }},
        "address": {
          "@type": "PostalAddress",
          "addressLocality": {{ page.location | default: "Faridabad" | jsonify }}
        }
      },
      "performer": {
        "@type": "Person",
        "name": "Dr. Rakesh Sarwal"
      }
      {% if page.permalink %},
      "url": "{{ site.url }}{{ page.permalink }}"
      {% endif %}
    }
    </script>
    {% endif %}
  </head>
  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {{ content }}
    {% include scripts.html %}
  </body>
</html>
