{% if page.collection == "publications" %}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"ScholarlyArticle",

  "headline":"{{ page.title | escape }}",

  "url":"{{ page.url | absolute_url }}",

  "mainEntityOfPage":"{{ page.url | absolute_url }}",

  "author":[
    {
      "@type":"Person",
      "name":"{{ site.author.name }}",
      "identifier":"{{ site.author.orcid }}",
      "affiliation":{
        "@type":"Organization",
        "name":"{{ site.author.institution }}"
      }
    }
  ],

  "datePublished":"{{ page.date | date_to_xmlschema }}",
  "dateModified":"{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",

  "description":"{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 500 | escape }}{% endif %}",

  {% if page.venue %}
  "isPartOf":{
    "@type":"Periodical",
    "name":"{{ page.venue }}"
  },
  {% endif %}

  {% if page.paperurl %}
  "sameAs":"{{ page.paperurl }}",
  "identifier":{
    "@type":"PropertyValue",
    "propertyID":"DOI",
    "value":"{{ page.paperurl | remove: 'https://doi.org/' }}"
  },
  {% endif %}

  "publisher":{
    "@type":"Organization",
    "name":"Academic LifeQuality"
  }
}
</script>
{% endif %}
